@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #0085cb;
  --ifm-color-primary-dark: #0078b7;
  --ifm-color-primary-darker: #0071ad;
  --ifm-color-primary-darkest: #005d8e;
  --ifm-color-primary-light: #0092df;
  --ifm-color-primary-lighter: #0099e9;
  --ifm-color-primary-lightest: #09aaff;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);

  font-family: "Roboto", sans-serif;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme="dark"] {
  /*--ifm-color-primary: #25c2a0;*/
  /*--ifm-color-primary-dark: #21af90;*/
  /*--ifm-color-primary-darker: #1fa588;*/
  /*--ifm-color-primary-darkest: #1a8870;*/
  /*--ifm-color-primary-light: #29d5b0;*/
  /*--ifm-color-primary-lighter: #32d8b4;*/
  /*--ifm-color-primary-lightest: #4fddbf;*/
  --ifm-color-primary: #0085cb;
  --ifm-color-primary-dark: #0078b7;
  --ifm-color-primary-darker: #0071ad;
  --ifm-color-primary-darkest: #005d8e;
  --ifm-color-primary-light: #0092df;
  --ifm-color-primary-lighter: #0099e9;
  --ifm-color-primary-lightest: #09aaff;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}

.theme-doc-sidebar-item-link-level-2 {
  font-weight: normal;
  font-size: medium;
}

.theme-doc-sidebar-item-link-level-1 {
  /*font-size: large;*/
  /*color: black !important;*/
}

.theme-doc-sidebar-item-category {
  margin-bottom: 1.5em;
}

.container {
  max-width:65%;
}